  <ion-content class="home">

    <div style="height: 200px;">
      
    <ion-slides [options]="homeSlideOptions">

    <ion-slide style="background-color: #3697c5">
      <h2>Set Your Goal</h2>
    </ion-slide>

    <ion-slide style="background-color: #f53d3d;" >
      <h2>Your Goal status</h2>
    </ion-slide>
    </ion-slides>
    </div>
    
    <h6 class="color-grey ml-16">Top Rentals
      <button clear primary item-right class="m-0 pull-right p-b-15" (click)="showCollection(top_rentals_books)" >More...</button>
    </h6>

    <ion-scroll scrollX="true">
      <ion-card  *ngFor="let book of top_rentals_books" >

        <img src="{{book.image_url}}" height="200px;" (click)="showBook(book)">
        <button fab fab-right fab-top class="fab-points">
          <h1>
          <span>50</span>

          <p>points</p>
          </h1>
        </button>

        <ion-item>
          <h2 class="item-bold" (click)="showBook(book)">{{book.title}}</h2>
          <p (click)="showBook(book)">{{book.author}}</p>
          <span>
              <button clear small light2 item-left class="m-0 p-0" (click)="addToWishList(book.id, book.title)">
                <ion-icon name='heart' is-active="false"></ion-icon>
                Add to Wishlist
              </button>
          </span>
        </ion-item>


      </ion-card>
    </ion-scroll>


    <h6 class="color-grey ml-16">New Arrivals
      <button clear primary item-right class="m-0 pull-right p-b-15" (click)="showCollection(new_arrivals_books)" >More...</button>
    </h6>
    <ion-scroll scrollX="true">
      <ion-card  *ngFor="let book of new_arrivals_books" >

        <img src="{{book.image_url}}" height="200px;" (click)="showBook(book)">
        <button fab fab-right fab-top class="fab-points">
          <h1>
          <span>50</span>

          <p>points</p>
          </h1>
        </button>

        <ion-item>
          <span (click)="showBook(book)">
            <h2 class="item-bold">{{book.title}}</h2>
            <p>{{book.author}}</p>
          </span>
          <span>
              <button clear small light2 item-left class="m-0 p-0" (click)="addToWishList(book.id, book.title)">
                <ion-icon name='heart' is-active="false"></ion-icon>
                Add to Wishlist
              </button>
          </span>
        </ion-item>


      </ion-card>
    </ion-scroll>



    <h6 class="color-grey ml-16">Your Next Read
      <button clear primary item-right class="m-0 pull-right p-b-15" (click)="showCollection(your_next_read_books)" >More...</button>
    </h6>
    <ion-scroll scrollX="true">
      <ion-card  *ngFor="let book of your_next_read_books">

        <img src="{{book.image_url}}" height="200px;"(click)="showBook(book)">
        <button fab fab-right fab-top class="fab-points">
          <h1>
          <span>50</span>

          <p>points</p>
          </h1>
        </button>

        <ion-item>
          <h2 class="item-bold" (click)="showBook(book)">{{book.title}}</h2>
          <p (click)="showBook(book)">{{book.author}}</p>
          <span>
              <button clear small light2 item-left class="m-0 p-0" (click)="addToWishList(book.id, book.title)">
                <ion-icon name='heart' is-active="false"></ion-icon>
                Add to Wishlist
              </button>
          </span>
        </ion-item>


      </ion-card>
    </ion-scroll>


  <ion-item></ion-item>


  </ion-content>
